/* Global Styles */



html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Maven Pro', sans-serif;  
}

.brand {
  font-size: 5em;
  font-weight: 900;
  background-color: black;
  padding:15px;

}

.vert-text a {
  color: #fff;
}

.navbar {
  margin-top:1.5%;
}
.navbar a {
  color: #fff;
}

.navbar-brand {
  font-size: 35px;
  font-weight: 900;
  background-color: black;
}

.navbar-nav>li {
  font-size: 20px;
  font-weight:600;
}

h1.helloWorld {
  color: white;
  font-weight: 900;
  font-size: 5em;
  text-shadow: 3px 5px #121212;

}

.myLinks li {
  list-style-type: none;
  display: inline;
  padding-right: 20px;
  font-size: 2em;
  font-weight:600;
  text-shadow: 2px 2px #121212;

}
h3.helloWorld {
  color: white;
  font-weight: 700;
  font-size: 2em;

}

h1 {
  font-size:45px;
  color:black; 
  font-weight:400;

}

h2{
  font-size: 3em;  /*color:#E6B85C; */
  margin:auto;
  font-weight:800;

}

h3,
h4,
h5,
.h6 {
  color: #003A70;  /*blue*/
}

hr {
    margin-top: 5%;
  margin-bottom: 5%;
}

p {
  font-weight:400;
  line-height: ;
  color:black;  /*grey*/
  font-size:20px;
  margin-bottom: 0px;
}

#footer-links {
  background-color: black;
  text-align: center;


}


/* Full Page Image Header Area */
.header { 
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: url(../img/coverPhoto.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

.experience {
  display: table;
  height: 50%;
  width: 100%;
  position: relative;
  background: url(../img/hiking.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  background: rgba(0, 0, 0, .2);
  

}


.white-bg {
  background-color: #fff;
}

.resumeHeader {
  margin:auto;
  height: 80px;
}
.resumeHeader h1 {
  font-size:40px;
  font-weight:300;
  /*color: #6dbcdb;*/

}

.resumeHeader #my-Name #myInfo {
  position:relative;
  display:inline-block;
  vertical-align: middle; 
  font-weight: 600;
}

.resumeArea #myInfo {
  float:right;
  padding-top:20px;
  margin:left;
}

.resumeArea #my-name {
  float:left;
}



.navbar-default .navbar-nav > li > a {
  color: #999;
}
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a.navbar-active {
  color: #003399;
}

.transparent {
  background-color: transparent;
  border: none;
}

.transparent-active {
  background-color: white;
  border-bottom: 1px solid black;
}




/* Intro */

.full {
  height: 800px;
  width:100%;
}
.intro {
  padding-top:50px;
  padding-bottom:120px;
  height: 100%;
}

.intro h3 {
  font-size:1.9em;
  /*color:#E6B85C; */
  color:black;
  font-weight:300;


}

.intro h4 {
  font-size:30px;
  /*color:#E6B85C; */
  color:black;
  font-weight:300;
  margin-right:auto;
  margin-left:auto;

}

.intro #socialMedia img {
  height:52px;
  width:52px;

}
.intro img {
  width:250px;
  border-radius: 100%;

}


.blah {
  font-weight:400;
  font-size: 18px;

}

/* 3 Column about me area */
.container-fluid{
  margin-top:30px;
}

.col-md-4 {
  text-align: left;
}

.resumeArea .blockone {
  width:700px;
  float:left;
  padding-left:40px;
  display:inline-block;
}

.resumeArea  h4{
  font-size:20px;
  color:#6dbcdb;
  font-weight:400;

}
.resumeArea h2 {
  color:#2554C7
}

.resumeHeader p {
  font-weight: 300;
}
 /**.resumeArea .blocktwo h4  {

  font-family:'Source Sans Pro', sans-serif;
  font-size:20px;
  color:#6dbcdb;
    font-weight:400;


} **/

.resumeArea {
  background-image: url(../img/resume.jpg);
  background-repeat: repeat;
  padding-top:100px;
  padding-bottom:100px;
  height:900px;
}

.resumeArea .row {
  background-color:white;
  width:1100px;
  padding:30px;
  margin:auto;


}
.resumeArea .blockone .blocktwo {

  display:inline;
}

#date {
  float:right;
  color:black;
  font-weight:300;
  

}
.resume li {
  font-size:16px;
  line-height: 20px;
  font-weight:300;
  color:black;


}
li {
  font-size:16px;
  line-height: 20px;
  font-weight:300;
  color:black;
}
.resumeHeader li {
  font-size:16px;
  line-height: 20px;
  font-weight:300;
  color:black;
}

.blockone a{
  color:#2554C7;
}



.block2 p {
  font-size:14px;
  line-height: 23px;
  font-weight:300;

}


.blocktwo hr {
  margin-top:-10px;
}

.blockone hr {
  margin-top:-10px;
}


.resume div {
  display: inline;
}


/* Callout */

.callout {
  color: #ffffff;
  display: table;
  height: 100%;
  width: 100%;
  background: url(../img/hiking.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Portfolio */

.portfolio {
  padding: 50px 0;
}



/* Call to Action */

.call-to-action {
  color: #ffffff;
  background: #4F758B;
  padding: 50px 0;
}

.call-to-action .btn {
  margin: 10px;
}

/* Map */

.map {
  height: 500px;
}

/* Footer */

footer {
  padding: 0px 0;
}

.top-scroll {
  margin-top: 50px;
}

.top-scroll a {
  text-decoration: none;
  color: #DBA901;
}

i.scroll {
  color: #333333;
}

i.scroll:hover {
  color: #0a5175;
}

.print {
  float:right;
  margin-top:25px;
}

/*Buttons*/
.btn-lg {
  padding: 6px 12px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 0px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  border: none;  
}
.btn-primary {
  border: none;
}

#resume {
  line-height: 1.2;
}



.resumeArea h3 {
  color:#E6BC69;
  font-weight: 
}


.top-button {
  float:right;

}

.section {
  height:45px;
  width:90px;
  background-color: black;
  float:left;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  color: white;
  vertical-align: middle;


}

.section h4 {
  color: white;
  vertical-align: middle;
  font-size:20px;
  text-align: center;



}

/* Responsive */

@media (max-width: 768px) {
	
  .header {
	background: url(../img/coverPhoto.jpg) no-repeat center center scroll; 
  }

  .callout {
	background: url(../img/callout.jpg) no-repeat center center scroll; 
  }

  .map {
	height: 75%;
  }
}